:root{
  --color1--: #1c4ef5;
  --color2--: #382679;
  --color3--: #120618;
  --color4--: #20d3e4;
  --color5--: #00b0ff;
  --color6--: #008fff;
  --color7--: #8d57e3;
}

body{
  color: white;
  margin :0;
  padding: 0;
  background: var(--color3--);
}

.container{
  outline: 1px solid var(--color6--);
  margin: 5px 1em;
}
